# Assignment 7 Web Scraping

In [49]:
import pandas as pd
import numpy as np

The TIOBE Programming Community index is an indicator of the popularity of programming languages. The index is updated once a month. Use pandas read_html() to fetch HTML tables from [The TIOBE Index Page](https://www.tiobe.com/tiobe-index/). Then write python code with pandas and numpy to answer the subsequent questions.

In [50]:
url = "http://www.tiobe.com/tiobe-index/"

In [51]:
# use pandas read_html to fetch HTML tables
# Your code starts here #
tables = pd.read_html(url, header = 0)
# Your code ends here #

Q1. How many HTML tables are there on the TIOBE Index page?

In [52]:
pass
len(tables)

4

Q2. Read the first HTML table into a DataFrame `tiobe`. How many programming languages are there in the DataFrame?

In [53]:
pass
tiobe = pd.DataFrame(tables[0])
tiobe
len(tiobe["Programming Language.1"].value_counts())

20

Q3. Delete the `Programming Language` column. Modify the DataFrame in place.

In [54]:
pass
tiobe.drop(columns = ["Programming Language"], inplace = True)

In [55]:
tiobe.head()

   Nov 2022  Nov 2021  Change Programming Language.1 Ratings Change.1
0         1         1     NaN                 Python  17.18%   +5.41%
1         2         2     NaN                      C  15.08%   +4.35%
2         3         3     NaN                   Java  11.98%   +1.26%
3         4         4     NaN                    C++  10.75%   +2.46%
4         5         5     NaN                     C#   4.25%   -1.81%

Q4. Change column labels:

- Change `Programming Language.1` to `Programming Language`
- Change the first column label to `Current Ranking`
- Change the second column label to `Last Year`
- Change the last column label to `Rating Change`

Modify the DataFrame in place. Display all column labels.

In [56]:
pass
tiobe = tiobe.rename(columns = {"Programming Language.1":"Programming Language",
                               "Nov 2022" : "Current Ranking", "Nov 2021" : "Last Year",
                                "Change.1" : "Rating Change"})
tiobe

,Current Ranking,Last Year,Change,Programming Language,Ratings,Rating Change
0,1,1,NaN,Python,17.18%,+5.41%
1,2,2,NaN,C,15.08%,+4.35%
2,3,3,NaN,Java,11.98%,+1.26%
3,4,4,NaN,C++,10.75%,+2.46%
4,5,5,NaN,C#,4.25%,-1.81%
5,6,6,NaN,Visual Basic,4.11%,-1.61%
6,7,7,NaN,JavaScript,2.74%,+0.08%
7,8,8,NaN,Assembly language,2.18%,-0.34%
8,9,9,NaN,SQL,1.82%,-0.30%
9,10,10,NaN,PHP,1.69%,-0.12%
10,11,18,NaN,Go,1.15%,-0.06%
11,12,15,NaN,R,1.14%,-0.14%
12,13,11,NaN,Classic Visual Basic,1.10%,-0.46%
13,14,17,NaN,Delphi/Object Pascal,1.08%,-0.14%
14,15,20,NaN,MATLAB,1.02%,-0.15%
15,16,28,NaN,Objective-C,0.93%,+0.39%
16,17,24,NaN,Scratch,0.88%,+0.11%
17,18,14,NaN,Swift,0.87%,-0.56%
18,19,13,NaN,Ruby,0.85%,-0.59%
19,20,29,NaN,Rust,0.75%,+0.21%

Q5. Fill in the missing values in the `Change` column of the `tiobe` DataFrame based on the first two columns: if a language's current ranking is higher than a year ago, then fill in 1; if a language's current ranking is lower than a year ago, then fill in -1; otherwise fill in 0. (Hint: the higher the ranking, the lower the value.) What is the count of 1 on this column?

In [57]:
pass
tiobe["Change"] = np.where(tiobe['Last Year']> tiobe['Current Ranking'],1,
                          np.where(tiobe["Last Year"]< tiobe['Current Ranking'],-1,0))
tiobe.head()

,Current Ranking,Last Year,Change,Programming Language,Ratings,Rating Change
0,1,1,0,Python,17.18%,+5.41%
1,2,2,0,C,15.08%,+4.35%
2,3,3,0,Java,11.98%,+1.26%
3,4,4,0,C++,10.75%,+2.46%
4,5,5,0,C#,4.25%,-1.81%

In [58]:
tiobe["Change"].value_counts()

 0    10
 1     7
-1     3
Name: Change, dtype: int64

Q6. Per the TIOBE index, which programming language is most popular?

In [59]:
pass
tiobe['Ratings'].max()

'4.25%'

Q7. Output R's TIOBE rating and current ranking.

In [60]:
pass
tiobe[tiobe['Programming Language'] == 'R'][['Ratings' , 'Current Ranking']]

   Ratings  Current Ranking
11   1.14%               12

Q8. Output the data types of the `Ratings` and `Rating Change` columns.

In [61]:
pass
tiobe.dtypes[['Ratings','Rating Change']]

Ratings          object
Rating Change    object
dtype: object

Q9. Cast the `Ratings` and `Rating Change` columns to the `float32` data type. (Hint: refer to Stackoverflow posts on [converting percent string to float in pandas](https://stackoverflow.com/questions/25669588/convert-percent-string-to-float-in-pandas-read-csv)). Output Java's rating change.

In [62]:
tiobe['Rating Change'] = tiobe['Rating Change'].str.rstrip('%').astype('float') / 100.0
tiobe['Ratings'] = tiobe['Ratings'].str.rstrip('%').astype('float') / 100.0
tiobe

,Current Ranking,Last Year,Change,Programming Language,Ratings,Rating Change
0,1,1,0,Python,0.1718,0.0541
1,2,2,0,C,0.1508,0.0435
2,3,3,0,Java,0.1198,0.0126
3,4,4,0,C++,0.1075,0.0246
4,5,5,0,C#,0.0425,-0.0181
5,6,6,0,Visual Basic,0.0411,-0.0161
6,7,7,0,JavaScript,0.0274,0.0008
7,8,8,0,Assembly language,0.0218,-0.0034
8,9,9,0,SQL,0.0182,-0.0030
9,10,10,0,PHP,0.0169,-0.0012
10,11,18,1,Go,0.0115,-0.0006
11,12,15,1,R,0.0114,-0.0014
12,13,11,-1,Classic Visual Basic,0.0110,-0.0046
13,14,17,1,Delphi/Object Pascal,0.0108,-0.0014
14,15,20,1,MATLAB,0.0102,-0.0015
15,16,28,1,Objective-C,0.0093,0.0039
16,17,24,1,Scratch,0.0088,0.0011
17,18,14,-1,Swift,0.0087,-0.0056
18,19,13,-1,Ruby,0.0085,-0.0059
19,20,29,1,Rust,0.0075,0.0021

Q10. Which programming language's rating increased the fastest over this one-year period?

In [63]:
pass
tiobe['Rating Change'].idxmax()
tiobe['Programming Language'][0]

'Python'

Q11. Which programming language's ranking increased the fastest over this one-year period?

In [64]:
pass
tiobe['Ranking Change'] = tiobe['Last Year'] - tiobe['Current Ranking']
tiobe

,Current Ranking,Last Year,Change,Programming Language,Ratings,Rating Change,Ranking Change
0,1,1,0,Python,0.1718,0.0541,0
1,2,2,0,C,0.1508,0.0435,0
2,3,3,0,Java,0.1198,0.0126,0
3,4,4,0,C++,0.1075,0.0246,0
4,5,5,0,C#,0.0425,-0.0181,0
5,6,6,0,Visual Basic,0.0411,-0.0161,0
6,7,7,0,JavaScript,0.0274,0.0008,0
7,8,8,0,Assembly language,0.0218,-0.0034,0
8,9,9,0,SQL,0.0182,-0.0030,0
9,10,10,0,PHP,0.0169,-0.0012,0
10,11,18,1,Go,0.0115,-0.0006,7
11,12,15,1,R,0.0114,-0.0014,3
12,13,11,-1,Classic Visual Basic,0.0110,-0.0046,-2
13,14,17,1,Delphi/Object Pascal,0.0108,-0.0014,3
14,15,20,1,MATLAB,0.0102,-0.0015,5
15,16,28,1,Objective-C,0.0093,0.0039,12
16,17,24,1,Scratch,0.0088,0.0011,7
17,18,14,-1,Swift,0.0087,-0.0056,-4
18,19,13,-1,Ruby,0.0085,-0.0059,-6
19,20,29,1,Rust,0.0075,0.0021,9

In [65]:
tiobe['Ranking Change'].idxmax()
tiobe['Programming Language'][15]

'Objective-C'

Q12. How many programming laguages' ranking increased, but rating decreased over this one-year period?

In [66]:
pass
tiobe2=tiobe[(tiobe['Rating Change'] < 0) & (tiobe['Ranking Change'] > 0)] 
tiobe2.shape[0]

4